* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: lightsteelblue;
  width: 100%;
  height: 100vh;
}

.container {
  text-align: center;
  margin-top: 23px;
}

table {
  margin: auto;
}

input {
  font-size: 26px;
  border-radius: 15px;
  border: 3px solid steelblue;
  padding: 5px;
  width: 330px;
}

button {
  margin: 2px;
  font-size: 30px;
  background: cornflowerblue;
  width: 79px;
  height: 60px;
  border-radius: 20px;
}

.calculator {
  display: inline-block;
  background: steelblue;
  padding: 15px;
  border-radius: 15px;
}
